---
import {Image} from "astro:assets";
import blokh from '@/assets/images/team/blokh.png'
import sherman from '@/assets/images/team/sherman.png'
import bloberenober from '@/assets/images/team/bloberenober.png'
import angelelz from '@/assets/images/contributors/angelelz.png'
import intelligently from '@/assets/images/contributors/intelligently.png'
import mario564 from '@/assets/images/contributors/mario564.png'
import rphlmr from '@/assets/images/contributors/rphlmr.png'
import mike from '@/assets/images/team/mike.jpg'
import roman from '@/assets/images/team/roman.jpg'
import vlad from '@/assets/images/team/vlad.jpg'
import reka from '@/assets/images/team/reka.png'
import homenko from '@/assets/images/team/homenko.jpg'
import artem from '@/assets/images/team/artem.jpg'
import vitalii from '@/assets/images/team/vitalii.jpg'
import shippingData from "@/data/shipping.yaml";
import progress from "@/data/progress";
import { addNofollowToExternalLinks, fillMonthsGaps, getMonthLabel } from "@/utils";
import type { ImageMetadata } from "astro";

const drizzleTeam: { name: string, photo: ImageMetadata, url?: string}[] = [
  {
    name: 'Andrew Sherman',
    photo: sherman,
  },
  {
    name: 'Dan Kochetov',
    photo: bloberenober,
  },
  {
    name: 'Alex Blokh',
    photo: blokh,
  },
  {
    name: 'Mykhailo Stratovych',
    photo: mike,
  },
  {
    name: 'Roman Nabukhotnyi',
    photo: roman,
  },
  {
    name: 'Vladislav Stohnii',
    photo: vlad,
  },
  {
    name: 'Serhii Reka',
    photo: reka,
  },
  {
    name: 'Oleksii Khomenko',
    photo: homenko,
  },
  {
    name: 'Artem Odiiko',
    photo: artem,
  },
  {
    name: 'Vitalii Staryk',
    photo: vitalii,
  },
];

const contributors: { name: string, photo: ImageMetadata}[] = [
  {
    name: 'angelelz',
    photo: angelelz,
  },
  {
    name: 'rphlmr',
    photo: rphlmr,
  },
  {
    name: 'mario564',
    photo: mario564,
  },
  {
    name: 'Simon Sardorf',
    photo: intelligently,
  },
];

const shipping = fillMonthsGaps(shippingData);
---
<div class="developers_container">
  <div class="flex-container">
    <div class="developers-left">
      <h2 class="title">We ship decently fast</h2>
      <h3 class="subtitle"><span class="drizzleWord">Drizzle Team</span> and <span class="contributorWord">Active Contributors</span></h3>
      <div class={"scroll"}>
        <div class={"gradient-left"}></div>
        <div class={"gradient-right"}></div>
        <div class="core_team_container">
          {[...drizzleTeam, ...contributors].map((dev, index) => (
            <div
              style={`z-index: ${[...drizzleTeam, ...contributors].length - index}`}
            >
              <span>{dev.name}</span>
              <Image
                class={drizzleTeam.includes(dev) ? 'dev-img' : 'contributor-img'}
                src={dev.photo}
                alt={dev.name}
                width="70"
                height="70"
              />
            </div>
          ))}
        </div>
      </div>
    </div>
    <div class="developers-right">
      <a class="progress-bar" href="/roadmap">
        <div class="progress-bar-title">v1.0 release<div class="label">{progress}%</div></div>
        <div style="display: flex; gap: 8px; align-items: center">
          <div class="progress-line">
            <div class="progress-line-inner" style=`right: calc(${100-progress}% - 1px)` />
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class={"scroll board-scroll"}>
    <div class={"gradient-left board-gradient"}></div>
    <div class={"gradient-right board-gradient"}></div>
    <div class="shipping-board">
      {Object.entries(shipping)
        .sort((a, b) => new Date(a[0]).getTime() - new Date(b[0]).getTime())
        .map(([key, value]) => (
          <div class="week">
            <div class="week-title">
              {getMonthLabel(key)}
            </div>
            <div class="week-details-wrap">
              <ul class="week-details">
                {value?.map((string) => (
                  <li class="week-text">
                    <div
                      set:html={
                        addNofollowToExternalLinks(
                          string
                            .replaceAll('</ul>\n', '</ul>')
                            .replace(/`([^`]+)`/g, '<code>$1</code>')
                        )
                      }
                    />
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))}
    </div>
  </div>
</div>
<script is:inline data-astro-rerun>
  document.querySelector('.drizzleWord').addEventListener('mouseover', () =>
    document.querySelectorAll('.dev-img').forEach((e) => e.classList.add('colored') )
  )
  document.querySelector('.drizzleWord').addEventListener('mouseout', () =>
    document.querySelectorAll('.dev-img').forEach((e) => e.classList.remove('colored') )
  )

  document.querySelector('.contributorWord').addEventListener('mouseover', () =>
    document.querySelectorAll('.contributor-img').forEach((e) => e.classList.add('colored') )
  )
  document.querySelector('.contributorWord').addEventListener('mouseout', () =>
    document.querySelectorAll('.contributor-img').forEach((e) => e.classList.remove('colored') )
  )
  document.querySelector('.shipping-board').scrollTo({left: document.querySelector('.shipping-board').scrollWidth})
</script>
<style is:global>
    .week-text a {
        text-decoration: underline;
    }

    .week-text ul {
        white-space: normal;
        list-style-type: "• ";
        padding-left: 9px;
    }

    .week-text b {
        font-weight: 700;
    }

    .week-text code {
        font-size: 0.8125em;
        padding: 1px 3px;
    }

    html.dark .week-text code {
        background-color: #1a1a1a;
        border-color: #292929;
        color: #e2e8f0;
    }
</style>
<style>
    .developers_container {
        position: relative;
        max-width: 910px;
        margin: 160px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .flex-container {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 32px;
    }

    .developers-left {
        flex-shrink: 0;
    }

    .developers-right {
        max-width: 280px;
        width: 100%;
        margin-top: 6px;
    }

    .background {
        position: absolute;
        width: 200vw;
        background: #f8f8f8;
        top: -20px;
        bottom: -36px;
        left: -50%;
    }

    html.dark .background {
        background: #1c1c1c;
    }

    .scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -24px;
        position: relative;
    }

    .board-scroll {
        width: 934px;
        margin: 0 -12px;
    }

    .gradient-left,
    .gradient-right {
        pointer-events: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: 20px;
        opacity: 0;
        z-index: 40;
    }

    .gradient-left {
        left: 0;
        background: linear-gradient(
                to left,
                rgba(250, 250, 250, 0) 0%,
                rgba(255, 255, 255, 0.58) 90%,
                #ffffff 100%
        );
    }

    .gradient-right {
        right: 0;
        background: linear-gradient(
                to right,
                rgba(250, 250, 250, 0) 0%,
                rgba(255, 255, 255, 0.58) 90%,
                #ffffff 100%
        );
    }

    html.dark .gradient-right {
        background: linear-gradient(
                to right,
                rgba(17, 16, 17, 0) 0%,
                rgba(17, 17, 17, 0.96) 90%,
                #111 100%
        );
    }

    html.dark .gradient-left {
        background: linear-gradient(
                to left,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.96) 90%,
                #111 100%
        );
    }

    .board-gradient {
        opacity: 1;
    }

    .title {
        z-index: 1;
        font-size: 32px;
        font-weight: 600;
        text-align: left;
    }

    .subtitle {
        z-index: 1;
        font-size: 14px;
        font-weight: 600;
        margin: 4px 0 8px;
        text-align: left;
    }


    .subtitle span {
        z-index: 1;
        cursor: help;
        text-decoration: underline;
        text-decoration-color: #4bb74a;
        text-decoration-style: dashed;
    }

    .subtitle span:hover {
        text-decoration-style: solid;
    }

    .colored {
        filter: grayscale(0) !important;
    }

    .core_team_container {
        text-align: left;
        padding: 0 24px;
        position: relative;
        width: 100%;
        white-space: nowrap;
    }

    .core_team_container img {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #fff;
        object-position: center;
        filter: grayscale(1);
        transition: filter 0.2s;
        background: grey;
    }

    .core_team_container div {
        display: inline-block;
        border-radius: 50%;
        position: relative;
        margin-right: -12px;
    }

    .core_team_container span {
        position: absolute;
        top: -35px;
        white-space: nowrap;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        pointer-events: none;
        font-size: 14px;
        font-weight: 400;
        padding: 4px 12px;
        background: white;
        border-radius: 4px;
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .075);
    }


    html.dark .core_team_container span {
        background: #000;
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 1px hsla(0, 0%, 100%, .2), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .075);
    }

    .core_team_container div:hover {
        z-index: 20 !important;
    }

    .core_team_container div:hover img {
        filter: grayscale(0);
    }

    .core_team_container div:hover span {
        opacity: 1;
    }

    html.dark .core_team_container img {
        border: 2px solid #111;
    }

    .shipping-board::-webkit-scrollbar {
        display: none;
    }

    .shipping-board {
        gap: 12px;
        width: 100%;
        overflow-x: auto;
        display: flex;
        padding: 0 12px;
        align-items: stretch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .week {
        height: 100%;
        width: 280px;
        flex-shrink: 0;
        min-height: 320px;
    }


    .week-title {
        font-size: 12px;
        margin-bottom: 2px;
        font-weight: 600;
        margin-left: 8px;
    }

    .week-title:first-letter {
        text-transform: uppercase;
    }

    .week-details {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 8px;
        background: #f6f6f7;
        height: 440px;
        border-radius: 8px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .week-details::-webkit-scrollbar {
        display: none;
    }

    .week-details-wrap {
        position: relative;
    }

    .week-details-wrap::before {
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        background: linear-gradient(to bottom, #f6f6f7 30%, rgba(246,246,247,0) 100%);
        flex-shrink: 0;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 8px 8px 0 0;
    }

    .week-details-wrap::after {
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        background: linear-gradient(to top, #f6f6f7 30%, rgba(246, 246, 247, 0) 100%);
        flex-shrink: 0;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0 0 8px 8px;
    }

    html.dark .week-details {
        background: #1c1c1c;
    }

    html.dark .week-details-wrap::before {
        background: linear-gradient(to bottom, #1c1c1c 30%, rgba(246, 246, 247, 0) 100%);
    }

    html.dark .week-details-wrap::after {
        background: linear-gradient(to top, #1c1c1c 30%, rgba(246, 246, 247, 0) 100%);
    }

    .week-text {
        padding: 8px 12px;
        background: white;
        border: 1px solid #e8e8e8;
        font-size: 12px;
        color: #444;
        font-weight: 500;
        line-height: 17px;
        position: relative;
        border-radius: 8px;
        white-space: pre-line;
        vertical-align: baseline;
    }

    html.dark .week-text {
        color: #e2e8f0;
        background: #282828;
        border: 1px solid #111;
    }

    @media (max-width: 1024px) {
        .core_team_container div:first-child span {
            left: -16px;
            transform: none;
        }
    }


    @media (max-width: 960px) {
        .board-scroll {
            width: calc(100vw - 24px);
        }
    }


    @media (max-width: 900px) {
        .title {
            font-size: 20px;
        }

        .flex_container {
            flex-direction: column;
            gap: 8px;
        }
    }

    @media (max-width: 770px) {
        .developers-right {
            display: none;
        }

        .developers-left {
            width: 100%;
            flex-shrink: unset;
        }
    }

    @media (max-width: 599px) {
        .title {
            font-size: 20px;
        }

        .gradient-left, .gradient-right {
            opacity: 1;
        }

        .core_team_container {
            text-align: left;
            white-space: nowrap;
            overflow: scroll;
            width: 100%;
        }

        .core_team_container::-webkit-scrollbar {
            display: none;
        }

        .core_team_container div:hover span {
            opacity: 0;
        }
    }
</style>
<style>
  .progress-bar {
      font-family: Monospace;
      display: flex;
      flex-direction: column;
      padding: 8px 10px;
      gap: 4px;
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      background: #f6f6f7;
      border-radius: 8px;
      transition: background-color 0.2s;
      cursor: pointer;
  }

  html.dark .progress-bar {
      background: #1c1c1c;
  }

  .progress-bar-title {
     display: flex;
      gap: 6px;
      justify-content: space-between;
      align-items: center;
  }

  .progress-bar-label {

      font-family: Monospace;
  }

  .progress-line {
      position: relative;
      width: 100%;
      height: 10px;
      border-radius: 6px;
      background: white;
      border: 1px solid #e8e8e8;
  }

  html.dark .progress-line {
      background: #282828;
      border-color: #111;
  }

  .progress-line-inner {
      position: absolute;
      border-radius: 6px;
      background: #4bb74b;
      border: 1px solid #3f9e3e;
      top: -1px;
      bottom: -1px;
      left: -1px;
  }

  html.dark .progress-line-inner {
      border-color: #1e4a1d;
  }

  .progress-bar:hover {
      background: #eff0f3;
  }
  html.dark .progress-bar:hover {
      background: #282828;
  }
</style>
