---
import { tweets } from "@/data/tweets.ts";
import { Image } from "astro:assets";

const formattedText = (text?: string) => {
  return text ? text.replaceAll(/@\w+/gi, "<span class='tweet-mention'>$&</span>") : null;
}
---

<div class="wrap">
  <div class="header">Developers love Drizzle ORM!</div>
  <div class="grid_scroll">
    <div class="grid_wrapper">
      <div class="grid">
        {
          tweets.map((t) => {
            if (t.name) {
              return t.href ? (
                <a href={t.href} target="_blank" rel="noreferrer nofollow">
                  <div class="tweet-wrap">
                    <div class="tweet-top">
                      <div class="tweet-avatar_wrapper">
                        <Image
                          class="tweet-avatar"
                          src={t.avatar}
                          alt={t.login}
                        />
                      </div>
                      <div class="tweet-name_wrapper">
                        <div class="tweet-name">{t.name}</div>
                        <div class="tweet-login">@{t.login}</div>
                      </div>
                    </div>
                    <div class="tweet-content">
                      {formattedText(t.text) && (
                        <div class="tweet-content_text"><Fragment set:html={formattedText(t.text)} /></div>
                      )}
                      {t.tweetImage && (
                        <Image
                          class="tweet-content_image"
                          width={560}
                          src={t.tweetImage}
                          alt={t.name}
                        />
                      )}
                    </div>
                  </div>
                </a>
              ) : (
                <div class="tweet-wrap">
                  <div class="tweet-top">
                    <div class="tweet-avatar_wrapper">
                      <Image
                        class="tweet-avatar"
                        src={t.avatar}
                        alt={t.login}
                      />
                    </div>
                    <div class="tweet-name_wrapper">
                      <div class="tweet-name">{t.name}</div>
                      <div class="tweet-login">@{t.login}</div>
                    </div>
                  </div>
                  <div class="tweet-content">
                    {formattedText(t.text) && (
                      <div class="tweet-content_text"><Fragment set:html={formattedText(t.text)} /></div>
                    )}
                    {t.tweetImage && (
                      <Image
                        class="tweet-content_image"
                        width={560}
                        src={t.tweetImage}
                        alt={t.name}
                      />
                    )}
                  </div>
                </div>
              );
            }
            return (
              <div class="tweet_placeholder-wrap">
                <div class="tweet_placeholder-content">
                  Vote for a tweet to be here
                  <br />
                  <a
                    href="https://twitter.com/DrizzleORM/status/1693626174600089730?s=20"
                    target="_blank"
                    rel="noreferrer nofollow"
                    class="tweet_placeholder-learn_more"
                  >
                    Vote now
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
<style>
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
  }

  .header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  .grid {
    column-gap: 20px;
    column-fill: initial;
    column-count: 3;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 900px) {
    .header {
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    .grid {
      column-count: 2;
    }
  }

  @media (max-width: 599px) {
    .grid_scroll {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      overflow-x: auto;
      overflow-y: hidden;
      width: 100vw;
      margin-left: -24px;
    }
    .grid_scroll::-webkit-scrollbar {
      display: none;
    }
    .grid_wrapper {
      width: fit-content;
    }
    .grid {
      column-count: 3;
      width: 100%;
      padding: 0 24px;
      column-gap: 10px;
    }
  }
</style>
<!-- PLACEHOLDER STYLES -->
<style>
  html[class~="dark"] .tweet_placeholder-wrap {
    border: 3px dashed #a8a8a8;
    background-color: #282828;
    color: rgb(226, 232, 240);
  }

  .tweet_placeholder-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 32px 16px;
    border: 3px dashed #a8a8a8;
    color: #282b3b;
    background-color: #e8e8e8;
    gap: 20px;
    text-align: center;
    break-inside: avoid;
    margin-bottom: 20px;
  }

  .tweet_placeholder-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .tweet_placeholder-learn_more {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  @media (max-width: 599px) {
    .tweet_placeholder-wrap {
      width: 314px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
</style>
<!-- TWEET STYLES -->
<style>
  html[class~="dark"] .tweet-wrap {
    border: 1px solid rgb(64, 64, 64);
    background-color: #282828;
    color: rgb(226, 232, 240);
  }

  html[class~="dark"] .tweet-login {
    color: #a4b7d0;
  }

  .tweet-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #e8e8e8;
    color: #282b3b;
    background-color: #ffffff;
    gap: 20px;
    break-inside: avoid;
    margin-bottom: 20px;
  }

  .tweet-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .tweet-avatar_wrapper {
    width: 100%;
    max-width: 48px;
    height: 48px;
  }

  .tweet-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .tweet-name_wrapper {
    font-size: 14px;
  }

  .tweet-name {
    font-weight: 700;
  }

  .tweet-login {
    font-weight: 400;
    color: #71767b;
  }

  .tweet-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tweet-content_text {
    font-size: 16px;
    white-space: pre-wrap;
  }

  html.dark .tweet-content_image {
    border: 1px solid rgb(47, 51, 54);
  }
  
  .tweet-content_image {
    border-radius: 8px;
    border: 1px solid rgb(207, 217, 222);
    max-height: 180px;
    object-fit: cover;
  }

  @media (max-width: 599px) {
    .tweet-wrap {
      width: 314px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
</style>
<style is:global>
  .tweet-content_text .tweet-mention {
    color: rgb(0, 107, 230);
  }
</style>